.Icon {
	height: 1.5rem;
	width: 1.5rem;
	display: block;
	flex-shrink: 0;
	fill: currentColor;
	transition:
		fill $duration-sm,
		transform $duration-sm,
		stroke $duration-sm;
}

.Icon.-apple {
	.Button.-complex & {
		width: 2rem;
		height: 2.25rem;
		position: relative;
		top: -2px;
		margin-left: -4px;
	}
}

.Icon.-googleplay {
	.Button.-complex & {
		width: 2rem;
		height: 2rem;
		position: relative;
		top: -1px;
		margin-right: 3px;
	}
}

// .Icon.-stroke {
// 	stroke-width: 1.5px;
// 	stroke: currentColor;
// 	fill: none;
// }
