<header class="Header">
	<div class="Header__grid container">

		<a href="/" class="Header__logo" aria-label="logo">
			<img src="../../images/logo.svg" alt="">
		</a>

		{{!-- <div class="Header__buttons">
			<span class="Badge -headerButtons">Скоро запуск</span>

			<a href="" class="Button -wideSides is-disabled">
				{{icon "apple" class="Icon shiftUp-2"}}
			</a>
			<a href="" class="Button -wideSides is-disabled">
				{{icon "googleplay" class="Icon rect-135 shiftRight-1"}}
			</a>
		</div> --}}

	</div>
</header>
