<div class="origin">

	<nav class="Pagination">
		<ul>
			<li class="Pagination__item is-active"><a href="#section-01">01</a></li>
			<li class="Pagination__item"><a href="#section-02">02</a></li>
			<li class="Pagination__item"><a href="#section-03">03</a></li>
			<li class="Pagination__item"><a href="#section-04">04</a></li>
			<li class="Pagination__item"><a href="#section-05">05</a></li>
			<li class="Pagination__item"><a href="#section-06">06</a></li>
			<li class="Pagination__item"><a href="#section-07">07</a></li>
			<li class="Pagination__item"><a href="#section-08">08</a></li>
			<li class="Pagination__item"><a href="#section-09">09</a></li>
		</ul>
	</nav>

</div>
