<section class="Section" id="section-01">
	<div class="container">

		<div class="row align-center">
			<div class="col-24 lg:col-13">

				<h1>Постройте дом быстрее и легче через приложение</h1>

				<div class="row relative">
					<div class="col-auto">

						<span class="Badge -soon">Скоро запуск</span>

						<a href="" class="Button -complex is-disabled">
							{{icon "apple" class="Icon -apple"}}
							<span class="Button__text">
								<span class="Button__textSm">установить</span>
								<span><img src="../../media/appstore-text.svg" alt=""></span>
							</span>
						</a>

					</div>
					<div class="col-auto">

						<a href="" class="Button -complex is-disabled">
							{{icon "googleplay" class="Icon -googleplay"}}
							<span class="Button__text">
								<span class="Button__textSm">установить</span>
								<span><img src="../../media/googleplay-text.svg" alt=""></span>
							</span>
						</a>

					</div>
				</div>

			</div>
			<div class="col-24 lg:col-8">

				{{picture
					class="Picture -hero"
					src="../../media/phone-1.png"
					src:2x="../../media/phone-1@2x.png"
					alt=""
				}}

			</div>
		</div>

	</div>

	<a href="#section-2" class="Switch">
		<span class="Switch__icon">
			{{icon "chevron"}}
		</span>
		<span>Как это работает?</span>
	</a>

</section>
