.container {
	box-sizing: content-box;
	width: 100%;
	max-width: var(--containerMax);
	padding-left: var(--sidePadding);
	padding-right: var(--sidePadding);
	margin-left: auto;
	margin-right: auto;
}

.origin {
	max-width: calc(var(--containerMax) + var(--sidePadding) * 2);
	box-sizing: content-box;
	position: fixed;
	inset: 0;
	visibility: hidden;
	margin-left: auto;
	margin-right: auto;
	z-index: 50;
	display: grid;
}
